# Analysis of World Data on crude oil import prices

Here we will show how to analyze worldwide data on crude oil import prices

Some questions we can try to anser
* Which country has the highest import prices
* Which year were import prices the highest
* What are the most recent oil import prices
* What is the trend in price in a certain country
* What is the monthly trend of a certain country in a certain year
* What is the quarterly trend of a certain country in a certain year

Link to Dataset: https://data.oecd.org/energy/crude-oil-import-prices.htm#indicator-chart

This notebook allows us to use numpy and pandas to quickly extract relevant information with 19,852 rows and 8 columns about oil prices

In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

First we read the data from 1980 to 2020 by location

In [6]:
df = pd.read_csv('data/Crude_Oil_Import_Prices.csv')
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,OILIMPPRICE,TOT,USD_BAR,A,1980,31.81,NaN
1,AUS,OILIMPPRICE,TOT,USD_BAR,A,1981,35.88,NaN
2,AUS,OILIMPPRICE,TOT,USD_BAR,A,1982,35.42,NaN
3,AUS,OILIMPPRICE,TOT,USD_BAR,A,1983,30.88,NaN
4,AUS,OILIMPPRICE,TOT,USD_BAR,A,1984,29.19,NaN
...,...,...,...,...,...,...,...,...
19847,LUX,OILIMPPRICE,TOT,USD_BAR,M,2021-05,NaN,M
19848,LUX,OILIMPPRICE,TOT,USD_BAR,M,2021-06,NaN,M
19849,LUX,OILIMPPRICE,TOT,USD_BAR,M,2021-07,NaN,M
19850,LUX,OILIMPPRICE,TOT,USD_BAR,M,2021-08,NaN,M
19851,LUX,OILIMPPRICE,TOT,USD_BAR,M,2021-09,NaN,M

# A rough overview of the data

In [9]:
description = df.describe()
description

              Value
count  11039.000000
mean      43.341537
std       30.433644
min        2.330000
25%       18.930000
50%       30.100000
75%       61.270000
max      142.290000

# An overview of all the columns and the Index array

In [10]:
df.columns

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes'],
      dtype='object')